.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(225.24999797344208, 223.125, 255, 1);
	width:1480px;
	height:2118px;
	position:absolute;
}.e1_3 { 
	background-color:rgba(141.0000067949295, 117.00000062584877, 227.00000166893005, 1);
	width:1480px;
	height:107px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_4 { 
	border-radius:500px;
	width:40px;
	height:40px;
	position:absolute;
	left:1260px;
	top:33px;
	background-image:url(images/ellipse_96.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_5 { 
	width:407px;
	height:16px;
	position:absolute;
	left:289px;
	top:45px;
}.e1_6 { 
	color:rgba(253.93750101327896, 253.93750101327896, 253.93750101327896, 1);
	width:76px;
	height:16px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:14px;
	letter-spacing:1;
}.e1_7 { 
	color:rgba(253.93750101327896, 253.93750101327896, 253.93750101327896, 1);
	width:109px;
	height:16px;
	position:absolute;
	left:213px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:14px;
	letter-spacing:1;
}.e1_8 { 
	color:rgba(253.93750101327896, 253.93750101327896, 253.93750101327896, 1);
	width:51px;
	height:16px;
	position:absolute;
	left:356px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:14px;
	letter-spacing:1;
}.e1_9 { 
	color:rgba(253.93750101327896, 253.93750101327896, 253.93750101327896, 1);
	width:56px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:14px;
	letter-spacing:1;
}.e1_10 { 
	color:rgba(253.93750101327896, 253.93750101327896, 253.93750101327896, 1);
	width:35px;
	height:16px;
	position:absolute;
	left:160px;
	top:45px;
	font-family:Raleway;
	text-align:left;
	font-size:14px;
	letter-spacing:1;
}.e1_11 { 
	background-color:rgba(241.00000083446503, 240.00000089406967, 255, 1);
	width:360px;
	height:53px;
	position:absolute;
	left:760px;
	top:27px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_12 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1165px;
	top:41px;
}.e1_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20.00027847290039px;
	position:absolute;
	left:2px;
	top:2px;
}.e1_14 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1213px;
	top:41px;
}.e1_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.5px;
	height:19.5px;
	position:absolute;
	left:3.75px;
	top:2.25px;
}.e1_16 { 
	width:27.925926208496094px;
	height:26.799999237060547px;
	position:absolute;
	left:783px;
	top:40px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/free_icon_search_5636698_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_17 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:59px;
	height:19px;
	position:absolute;
	left:842px;
	top:44px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
}.e1_18 { 
	color:rgba(21.000000648200512, 20.000000707805157, 78.00000295042992, 1);
	width:302px;
	height:42px;
	position:absolute;
	left:160px;
	top:189px;
	font-family:Raleway;
	text-align:left;
	font-size:36px;
	letter-spacing:1;
}.e1_19 { 
	color:rgba(21.000000648200512, 20.000000707805157, 78.00000295042992, 1);
	width:918px;
	height:331px;
	position:absolute;
	left:160px;
	top:267px;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:1;
}.e1_20 { 
	width:50px;
	height:54px;
	position:absolute;
	left:194px;
	top:578px;
	background-image:url(images/pdf_file_format_symbol__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_21 { 
	color:rgba(21.000000648200512, 20.000000707805157, 78.00000295042992, 1);
	width:131px;
	height:28px;
	position:absolute;
	left:253px;
	top:591px;
	font-family:Raleway;
	text-align:left;
	font-size:24px;
	letter-spacing:1;
}.e1_22 { 
	color:rgba(21.000000648200512, 20.000000707805157, 78.00000295042992, 1);
	width:406px;
	height:28px;
	position:absolute;
	left:165px;
	top:696px;
	font-family:Raleway;
	text-align:left;
	font-size:24px;
	letter-spacing:1;
}.e1_23 { 
	width:460px;
	height:330px;
	position:absolute;
	left:219px;
	top:775px;
	background-image:url(images/b89c98160463771_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_24 { 
	width:450.6206970214844px;
	height:330px;
	position:absolute;
	left:820px;
	top:775px;
	background-image:url(images/4fc028163827091_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_25 { 
	border-radius:500px;
	width:40px;
	height:40px;
	position:absolute;
	left:219px;
	top:1113px;
	background-image:url(images/ellipse_97.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_26 { 
	border-radius:500px;
	width:40px;
	height:40px;
	position:absolute;
	left:219px;
	top:1519px;
	background-image:url(images/ellipse_99.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_27 { 
	border-radius:500px;
	width:40px;
	height:40px;
	position:absolute;
	left:820px;
	top:1113px;
	background-image:url(images/ellipse_98.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_28 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:167px;
	height:19px;
	position:absolute;
	left:274px;
	top:1123px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
}.e1_29 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:129px;
	height:19px;
	position:absolute;
	left:274px;
	top:1529px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
}.e1_30 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:152px;
	height:19px;
	position:absolute;
	left:875px;
	top:1123px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
}.e1_31 { 
	width:20px;
	height:20px;
	position:absolute;
	left:542px;
	top:1123px;
	background-image:url(images/like_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_32 { 
	width:20px;
	height:20px;
	position:absolute;
	left:542px;
	top:1529px;
	background-image:url(images/like_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_33 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1134px;
	top:1123px;
	background-image:url(images/like_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_34 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:25px;
	height:19px;
	position:absolute;
	left:570px;
	top:1123px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
}.e1_35 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:19px;
	height:19px;
	position:absolute;
	left:570px;
	top:1529px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
}.e1_36 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:26px;
	height:19px;
	position:absolute;
	left:1162px;
	top:1123px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
}.e1_37 { 
	width:20px;
	height:20px;
	position:absolute;
	left:623px;
	top:1123px;
	background-image:url(images/eye_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_38 { 
	width:20px;
	height:20px;
	position:absolute;
	left:623px;
	top:1529px;
	background-image:url(images/eye_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_39 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1215px;
	top:1123px;
	background-image:url(images/eye_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_40 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:27px;
	height:19px;
	position:absolute;
	left:652px;
	top:1123px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
}.e1_41 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:28px;
	height:19px;
	position:absolute;
	left:652px;
	top:1529px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
}.e1_42 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:27px;
	height:19px;
	position:absolute;
	left:1244px;
	top:1123px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:1;
}.e1_43 { 
	width:460px;
	height:327px;
	position:absolute;
	left:219px;
	top:1184px;
	background-image:url(images/d2deaf159567555_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_44 { 
	background-color:rgba(241.00000083446503, 240.00000089406967, 255, 1);
	width:451px;
	height:327px;
	position:absolute;
	left:820px;
	top:1184px;
}.1_44 { 
	border:1px solid rgba(21.000000648200512, 20.000000707805157, 78.00000295042992, 1);
}.e1_45 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:221px;
	height:38px;
	position:absolute;
	left:875px;
	top:1349px;
	font-family:Raleway;
	text-align:left;
	font-size:32px;
	letter-spacing:1;
}.e1_46 { 
	background-color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:77.5px;
	height:42px;
	position:absolute;
	left:875px;
	top:1289px;
}.1_46 { 
	border:1px solid rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 1);
}.e1_47 { 
	background-color:rgba(241.00000083446503, 240.00000089406967, 255, 1);
	width:1480px;
	height:500px;
	position:absolute;
	left:0px;
	top:1618px;
}.e1_48 { 
	color:rgba(21.000000648200512, 20.000000707805157, 78.00000295042992, 1);
	width:106px;
	height:23px;
	position:absolute;
	left:160px;
	top:1654px;
	font-family:Raleway;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_49 { 
	color:rgba(21.000000648200512, 20.000000707805157, 78.00000295042992, 1);
	width:129px;
	height:23px;
	position:absolute;
	left:160px;
	top:1785px;
	font-family:Raleway;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_50 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:143px;
	height:19px;
	position:absolute;
	left:160px;
	top:1706px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_51 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:253px;
	height:19px;
	position:absolute;
	left:159px;
	top:2003px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_52 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:249px;
	height:19px;
	position:absolute;
	left:159px;
	top:2034px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_53 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:301px;
	height:19px;
	position:absolute;
	left:159px;
	top:2065px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_54 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:162px;
	height:54px;
	position:absolute;
	left:160px;
	top:1837px;
	font-family:Raleway;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e1_55 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:198px;
	height:19px;
	position:absolute;
	left:372px;
	top:1706px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_56 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:158px;
	height:19px;
	position:absolute;
	left:652px;
	top:1702px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_57 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:59px;
	height:19px;
	position:absolute;
	left:891px;
	top:1702px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_58 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:41px;
	height:19px;
	position:absolute;
	left:1020px;
	top:1702px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_59 { 
	color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:154px;
	height:19px;
	position:absolute;
	left:1127px;
	top:1702px;
	font-family:Raleway;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e1_60 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1100px;
	top:2034px;
}.e1_61 { 
	background-color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:33.33333206176758px;
	height:33.33333206176758px;
	position:absolute;
	left:3.3333332538604736px;
	top:3.3333332538604736px;
}.e1_62 { 
	color:rgba(21.000000648200512, 20.000000707805157, 78.00000295042992, 1);
	width:115px;
	height:23px;
	position:absolute;
	left:160px;
	top:1951px;
	font-family:Raleway;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e1_63 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1220px;
	top:2034px;
}.e1_64 { 
	background-color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:33.33333206176758px;
	height:33.33333206176758px;
	position:absolute;
	left:3.3333332538604736px;
	top:3.3333332538604736px;
}.e1_65 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1280px;
	top:2034px;
}.e1_66 { 
	background-color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:33.33333206176758px;
	height:33.33333206176758px;
	position:absolute;
	left:3.3333332538604736px;
	top:3.3333332538604736px;
        background-image:url(images/instagram 1.svg);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_67 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1160px;
	top:2034px;
}.e1_68 { 
	background-color:rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 0.6000000238418579);
	width:33.33333206176758px;
	height:27.1353759765625px;
	position:absolute;
	left:3.3333332538604736px;
	top:6.415666580200195px;
}.1_69 { 
	border:1px solid rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 1);
}.e1_69 { 
	width:1160px;
	height:1px;
	position:absolute;
	left:160px;
	top:1686px;
}.1_70 { 
	border:1px solid rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 1);
}.e1_70 { 
	width:1160px;
	height:1px;
	position:absolute;
	left:160px;
	top:1817px;
}.1_71 { 
	border:1px solid rgba(21.000004447996616, 19.999998807907104, 78.00000295042992, 1);
}.e1_71 { 
	width:1160px;
	height:1px;
	position:absolute;
	left:160px;
	top:1983px;
}